:host {
  display: block;
  --app-primary-color: #072146;
  --app-secondary-color: black;
  --app-third-color: #194967;
  padding: 5px;
}

.app-headerPrincipal {
  background-color: var(--app-primary-color);
  color: #fff;
}
app-header {
  background-color: var(--app-primary-color);
  color: #fff;
}
app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}
.drawer-list a {
  display: block;
  padding: 0 30px;
  line-height: 40px;
  text-decoration: none;
  color: var(--app-secondary-color);
}
.drawer-list a.iron-selected {
  color: black;
  font-weight: bold;
}
.drawer-list a.subroute {
  padding-left: 32px;
}
a:hover {
  background-color: #D0D0D0;
}
app-header avatar-container {
  background-color: var(--app-third-color);
  color: #fff;
}
.avatar-container {
  position: relative;
  border: 2px solid #00AA8D;
  border-radius: 50%;
  height: 90px;
  padding: 2px;
  width: 90px;
  margin: 20px auto;
  background-color: var(--app-third-color);
}
.avatar-container .image {
  /*  background-image: url('../images/photos/Edwin_fondo02.jpg'); */
  /*background-image: var(--my-elem-backimage);  */
  background-image: var(--container-background, "default.png");
  /*--container-background: url( 'http://www.inflexusmgmt.com/wp-content/uploads/2014/08/Hero-material-graphene-1.jpg'); */
  /*  background-image: url(''); */
  background-size: contain;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.contact-info {
  margin: 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
  text-align: center;
}
.contact-info .name {
  font-weight: bold;
}
.contact-info .email {
  color: #999;
}
.contact-info .perfil {
  color: #FFD433;
}
.selectionTitle {
  color: #FFD433;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
