:host {
  display: block;
  --app-primary-color: #072146;
  --app-secondary-color: black;
  --app-third-color: #194967;
  padding: 5px;
}
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 2px;
  border-radius: 15px;
  background-color: #fff;
  color: #757575;
  height: 100%;
}
.estilo1 {
  border: 0px solid black;
  width: 40%;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
