:host {
  display: block;
  padding: 8px;
}
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 60px;
  border-radius: 15px;
  background-color: #fff;
  color: #757575;
  width: 300px;
}
.alert-error {
  color: #FA3636;
  line-height: 40px;
  font-weight: bold;
}
