
      :host {
        display: block;
        padding: 8px;
      }

      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 2px;
        border-radius: 15px;
        background-color: #fff;
        color: #757575;
      }

      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }

      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }

      .form {
        display: flex;
      }

      .form paper-input {
        flex: 1;
        margin-right: 10px;
      }

      .form vaadin-date-picker {
        width: 140px;
      }

      .form paper-button {
        align-self: flex-end;
      }
      vaadin-grid {
        --vaadin-grid-cell: 
          text-overflow: ellipses;
      }