<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-principal.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre GESTOR</h1>
    <my-login  on-myevent="processEvent"></my-login>
    <my-principal id="receiver"></my-principal>
  </template>

  <script>
    //console.log('Entrando emg GestorEvento');
      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e.detail);
        this.$.receiver.user_name = e.detail.user_name;
        //this.$.receiver.year = e.detail.year;
      };

    console.log('Saliendo emg GestorEvento');
//    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
