<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="my-administrador">
  <link rel="import" type="css" href="../css/mystyles.css">
  <template>

    <div class="card">
      <div class="circle">4</div>
      <h1>Vista cuatro</h1>
      <p>No ppppp.</p>
      <p>Ey ahora que hacemos</p>
    </div>

  </template>

  <script>

    Polymer({

      is: 'my-administrador'

    });

  </script>

</dom-module>
