
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-collapse-button/iron-collapse-button.html">

<dom-module id="my-confirmar">
  <link rel="import" type="css" href="../css/mystylesConfirmar.css">
  <template>
    <iron-ajax
        id="putActualizarCantidad"
        url="http://localhost:3000/apitarjetas/v1/ordenescalculadas/updateQuantity"
        handle-as="json"
        method="PUT"
        body="[[body]]"
        content-type="application/json"
        on-response="_dataActualizarCantidadOK"
        on-error="_dataActualizarCantidadERR">
    </iron-ajax>
    <iron-ajax
        id="putActivarOrden"
        url="http://localhost:3000/apitarjetas/v1/ordenescalculadas/activate/{{idOrden}}"
        handle-as="json"
        method="PUT"
        on-response="_dataActivarOrdenOK"
        on-error="_dataActivarOrdenERR">
    </iron-ajax>
    <iron-ajax
        id="getOrdenBusqueda"
        url="http://localhost:3000/apitarjetas/v1/ordenescalculadas/filters/"
        handle-as="json"
        method="POST"
        body="[[body]]"
        loading="{{cargando}}"
        content-type="application/json"
        on-response="_dataOrdenBuscarOK"
        on-error="_dataOrdenBuscarERR">
    </iron-ajax>
    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>
    <iron-ajax
        auto
        id="getAllOrdenes"
        url="http://localhost:3000/apitarjetas/v1/ordenescalculadas/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataAllOrdenesOK"
        on-error="_dataAllOrdenesERR">
    </iron-ajax>
    <paper-dialog id="dropdownDialog">
      <!-- <h2>Dialog Title</h2> -->
      <paper-input id="piCantidad" always-float-label label="Cantidad a solicitar"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button dialog-confirm autofocus on-tap="_onUpdateCantidad">Aceptar</paper-button>
      </div>
    </paper-dialog>
    <div class="card">
      <paper-dialog id="mensajes" modal>
        <h2>[[tituloMensaje]]</h2>
        <p>[[mensaje]]</p>
        <div class="buttons">
          <paper-button dialog-confirm autofocus>Aceptar</paper-button>
        </div>
      </paper-dialog>
      <!-- <paper-button raised on-tap="_addTodo">Agregar</paper-button>
      <paper-button raised on-click="_removeFirstRow">Remover</paper-button>
      headers='{"access-control-allow-origin": "*"}'
-->
      <iron-collapse-button class="groupEmgGen">
        <div slot="collapse-trigger">Opciones de Consulta</div>
        <div slot="collapse-content" >
          <paper-input id="geDiseno" label="Diseño" class="groupEmg"></paper-input>
          <paper-input id="geOficina" label="Oficina" class="groupEmg"></paper-input>
          <paper-input id="geTipoTar" label="Tipo de Tarjeta" class="groupEmg"></paper-input>
          <paper-input id="geFormato" label="Formato" class="groupEmg"></paper-input>
          <paper-button raised class="primary" on-tap="_onBuscar">Buscar</paper-button>
        </div>
      </iron-collapse-button>
      <paper-button raised class="primary" on-tap="_onEditar">Editar</paper-button>
      <paper-button raised class="primary" on-tap="_onActualizar">Actualizar</paper-button>
      <paper-button raised class="primary" on-tap="_onConfirmar">Confirmar</paper-button>
      <vaadin-grid  id="myGridTemplate" items="[[registros]]" selection-mode="multi" on-selected-items-changed="onSelect" active-item="{{activeItem}}" >
        <table>
          <colgroup>
            <col resizable name="oficina_solicitante">
            <col resizable name="idorden">
            <col resizable name="tipo_tarjeta">
            <col resizable name="formato_tarjeta">
            <col resizable hidable name="diseno_tarjeta">
            <col resizable name="can_tarjetasord">
            <col resizable hidable name="fchauditoria">
            <col resizable hidable name="">
            <col resizable name="estado">
          </colgroup>
          <thead>
            <tr>
              <th>Oficina</th>
              <th>Nro.Orden</th>
              <th>TipoTarjeta</th>
              <th>Formato</th>
              <th>Diseño</th>
              <th>CantidadOrd</th>
              <th>FechaAlta</th>
              <th>Vencimiento</th>
              <th>Estado</th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
    </div>
  </template>
  <script>
    Polymer({
      is: 'my-confirmar',
      properties: {
        todo: {
          type: Object,
          value: function() {
            return {};
          }
        },
        idOrden: {
          type: Number
        },
        registros: {
          type: Object
        },
        activeItem: {
          observer: '_activeItemChanged'
        },
        cantSolicitada: {
          type: Number
        },
        tituloMensaje: {
          type: String,
          value: "Edicion cantidad solicitada"
        },
        mensaje: {
          type: String,
          value: "Debe seleccionar un registro."
        },
        cargando: Boolean,
        arrModIdx: {
          type: Array,
          value: []
        },
        idxSeleccion: {
          type: Number,
          value: -1
        }
      },
      _activeItemChanged: function(item) {
        console.log('edwin');
      },
      ready: function() {
        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.mensajes);
      },
      onSelect: function(item) {

      },
      attached: function() {    //se adjuntan al documento

      },
      //_onEditar: () => {
      _onEditar: function() {
        var grid = this.$.myGridTemplate;
        var idx = grid.selection.selected();
        if (idx.length == 1){
          this.idxSeleccion = idx;
          this.$.piCantidad.value = grid.items[idx]["can_tarjetasord"];
          this.$.dropdownDialog.open();
        }else{
          this._mostrarMensaje("Edicion cantidad solicitada", "Debe seleccionar solo un registro.")
        }
      },
      _onConfirmar: function() {
        var grid = this.$.myGridTemplate;
        var idx = grid.selection.selected();
        if(idx.length > 0) {
          for (let x=0; x<idx.length; x++) {
            this.idOrden = grid.items[idx[x]]["idorden"];
            this.$.putActivarOrden.generateRequest();
          }
        }else{
          this._mostrarMensaje("Confirmacion de ordenes", "Debe seleccionar al menos un registro.")
        }
      },
      _onUpdateCantidad: function() {
        var grid = this.$.myGridTemplate;
        var cantidad = this.$.piCantidad.value;
        grid.items[this.idxSeleccion]["can_tarjetasord"] = cantidad;
        grid.refreshItems();
        this.arrModIdx.push(this.idxSeleccion);
        //console.log(this.arrModIdx);
      },
      _addTodo: function() {

      },
      _removeFirstRow: function(e) {
        //this.$.myGridTemplate.removeItem(2); //remove first row
      },
      _dataAllOrdenesOK(data) {
        this.registros = data.detail.response.ordenescalculadas;
      },
      _onBuscar() {
        this.body =  {
           "filtro_oficina_solicitante" : this.$.geOficina.value,
           "filtro_tipo_tarjeta": this.$.geTipoTar.value,
           "filtro_formato_tarjeta": this.$.geFormato.value,
           "filtro_diseno_tarjeta": this.$.geDiseno.value,
           "filtro_estado": "1",
           "filtro_fecha_inicio": "",
           "filtro_fecha_fin": ""
         };

         console.log(this.$.geOficina.value);

        this.registros = [];
        this.$.getOrdenBusqueda.generateRequest();
      },
      _dataOrdenBuscarOK(data) {
        console.log("entro");
        this.registros = data.detail.response.ordencalculada;
        console.log(this.registros;
      },
      _dataOrdenBuscarERR(data) {
        this._mostrarMensaje("No se pudo obtener las ordenes.");
      },
      _dataActivarOrdenOK(data) {
        this._mostrarMensaje("Confirmacion de ordenes", "Las ordenes fueron confirmadas.");
        this.$.getAllOrdenes.generateRequest();
      },
      _mostrarMensaje(titulo, mensaje) {
        this.tituloMensaje = titulo;
        this.mensaje = mensaje;
        this.$.mensajes.open();
      },
      _onActualizar() {
        var grid = this.$.myGridTemplate;
        let arr = this.arrModIdx;
        let list = "";
        for(let x=0; x<arr.length; x++) {
          this.body =  {
            idorden: grid.items[arr[x]]["idorden"],
          	can_tajertascon: grid.items[arr[x]]["can_tarjetasord"]
          };
          this.$.putActualizarCantidad.generateRequest();
          list += grid.items[arr[x]]["idorden"] + ',';
        }
        this.arrModIdx = [];
        this._mostrarMensaje("Cantidades actualizadas", "Ordenes actualizadas: " + list)
      }
    });
  </script>
</dom-module>
