
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="my-consulta">
  <link rel="import" type="css" href="../css/mystyles.css">
  <template>
    <iron-ajax
        auto
        id="getOficinas"
        url="http://localhost:3000/apitarjetas/v1/oficinas/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataOficinasOK"
        on-error="_dataOficinasERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getTiposTarjeta"
        url="http://localhost:3000/apitarjetas/v1/tipos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataTiposTarjetaOK"
        on-error="_dataTiposTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getFormatosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/formatos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataFormatosTarjetaOK"
        on-error="_dataFormatosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getDisenosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/disenos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataDisenosTarjetaOK"
        on-error="_dataDisenosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        id="getOrdenes"
        url="http://localhost:3000/apitarjetas/v1/ordenes/filters/"
        handle-as="json"
        method="POST"
        content-type="application/json"
        on-response="_dataOrdenesOK"
        on-error="_dataOrdenesERR">
    </iron-ajax>
    <div class="card">
      <paper-input id="piOficina" label=""></paper-input>
      <paper-input id="piTipoTarjeta" label=""></paper-input>
      <paper-input id="piFormatoTarjeta" label=""></paper-input>
      <paper-input id="piDisenoTarjeta" label=""></paper-input>
      <paper-dropdown-menu id="pdOficinas" label="Oficinas">
        <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedOficina}}">
          <template is="dom-repeat" items="{{allOficinas}}">
            <paper-item>{{item.DESCRIPCION_OFICINA}}</paper-item>
          </template>
        </paper-listbox>
     </paper-dropdown-menu>
        <paper-dropdown-menu id="pdTiposTarjeta" label="Tipos tarjeta">
          <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedTiposTarjeta}}">
            <template is="dom-repeat" items="{{allTiposTarjeta}}">
              <paper-item>{{item.desc_tipo}}</paper-item>
            </template>
          </paper-listbox>
      </paper-dropdown-menu>
      <paper-dropdown-menu id="pdFormatosTarjeta" label="Formatos Tarjeta">
        <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedFormatosTarjeta}}">
          <template is="dom-repeat" items="{{allFormatosTarjeta}}">
            <paper-item>{{item.descripcion_formatotarjeta}}</paper-item>
          </template>
        </paper-listbox>
    </paper-dropdown-menu>
    <paper-dropdown-menu id="pdDisenosTarjeta" label="Diseños Tarjeta">
      <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedDisenosTarjeta}}">
        <template is="dom-repeat" items="{{allDisenosTarjeta}}">
          <paper-item>{{item.descripcion_disenotarjeta}}</paper-item>
        </template>
      </paper-listbox>
  </paper-dropdown-menu>
  <paper-dropdown-menu  id="pdSituacion" label="Situacion">
    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedSituacion}}">
      <paper-item>Descripcion A</paper-item>
      <paper-item>Descripcion O</paper-item>
      <paper-item>Descripcion P</paper-item>
      <paper-item>Descripcion T</paper-item>
    </paper-listbox>
  </paper-dropdown-menu>
  <paper-button raised on-tap="_listarFiltros">Buscar</paper-button>

      <vaadin-grid  id="myGridOrdenes" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <table>
          <colgroup>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
          </colgroup>
          <thead>
            <tr>
              <th>Nro Orden</th>
              <th>Oficina</th>
              <th>Tipo Tarjeta</th>
              <th>Formato</th>
              <th>Diseno</th>
              <th>Can Ordenadas</th>
              <th>Can Recibidas</th>
              <th>Situacion</th>
              <th>Fecha Alta</th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-consulta',
      properties: {
        todo: {
          type: Object,
          value: function() {
            return {};
          }
        },
        activeItem: {
          observer: '_activeItemChanged'
        },
        allOficinas: {
           type: Array
        },
        selectedOficina: {
          type:Number,
          observer: "_selectedOficina",
          notify:true
        },
        allTiposTarjeta: {
           type: Array
        },
        selectedTiposTarjeta: {
          type:Number,
          observer: "_selectedTiposTarjeta",
          notify:true
        },
        allFormatosTarjeta: {
           type: Array
        },
        selectedFormatosTarjeta: {
          type:Number,
          observer: "_selectedFormatosTarjeta",
          notify:true
        },
        allDisenosTarjeta: {
           type: Array
        },
        selectedDisenosTarjeta: {
          type:Number,
          observer: "_selectedDisenosTarjeta",
          notify:true
        },
        selectedSituacion: {
          type:Number
        }
      },
      _activeItemChanged: function(item) {
      },
      ready: function() {
      },
      onSelect: function(item) {
      },
      attached: function() {    //se adjuntan al documento

      },
      _addTodo: function() {

      },
      _removeFirstRow: function(e) {

      },
      _listarFiltros() {
        var situacion="";
        if (this.$.pdSituacion.selected=="DescripcionA"){
          situacion="A";
        }
        if (this.$.pdSituacion.selected=="DescripcionO"){
          situacion="O";
        }
        if (this.$.pdSituacion.selected=="DescripcionP"){
          situacion="P";
        }
        if (this.$.pdSituacion.selected=="DescripcionT"){
          situacion="T";
        }
        var ordenFiltro = {
          "filtro_oficina_solicitante": this.$.piOficina.value,
          "filtro_tipo_tarjeta": this.$.piTipoTarjeta.value,
          "filtro_formato_tarjeta": this.$.piTipoTarjeta.value,
          "filtro_diseno_tarjeta": this.$.piTipoTarjeta.value,
          "filtro_estado": situacion,
          "filtro_fecha_inicio":"2018-12-31T00:00:00.000Z",
          "filtro_fecha_fin":"2018-12-31T00:00:00.000Z"
        }
          console.log("consultando");
          this.$.getOrdenes.body = ordenFiltro;
          this.$.getOrdenes.generateRequest();

      },
      _dataOrdenesOK(data) {
        console.log("recibiendo" + data.detail.response.ordenes);
        var ordenes = data.detail.response.ordenes;
        var grid = this.$.myGridOrdenes;
        var result = [];

        for(var x=0; x<ordenes.length; x++){
            var registro = [];
            registro[0]=ordenes[x]["nro_orden"];
            registro[1]=ordenes[x]["descripcionoficina"];
            registro[2]=ordenes[x]["descripciontipotarjeta"];
            registro[3]=ordenes[x]["descripcionformatotarjeta"];
            registro[4]=ordenes[x]["descripciondisenotarjeta"];
            registro[5]=ordenes[x]["can_tarjetasord"];
            registro[6]=ordenes[x]["can_tarjetasrec"];
            registro[7]=ordenes[x]["situacion_orden"];
            registro[8]=ordenes[x]["fecha_alta"];
            registro[9]=ordenes[x]["leyenda"];
            registro[10]=ordenes[x]["oficina_solicitante"];
            registro[11]=ordenes[x]["tipo_tarjeta"];
            registro[12]=ordenes[x]["formato_tarjeta"];
            registro[13]=ordenes[x]["diseno_tarjeta"];

            result.push(registro);
        }
        grid.items = result;
        console.log({"result: ":result});
      },
      _dataOrdenesERR(data) {

      },
      _dataOficinasOK(data) {
        this.allOficinas = data.detail.response.oficinas;
        console.log(data.detail.response.oficinas);
      },
      _dataOficinasERR(data){

      },
      _dataTiposTarjetaOK(data) {
        this.allTiposTarjeta = data.detail.response.tipostarjeta;
        console.log(data.detail.response.tipostarjeta);
      },
      _dataTiposTarjetaERR(data){

      },
      _dataFormatosTarjetaOK(data) {
        this.allFormatosTarjeta = data.detail.response.formatostarjeta;
        console.log(data.detail.response.formatostarjeta);
      },
      _dataFormatosTarjetaERR(data){

      },
      _dataDisenosTarjetaOK(data) {
        this.allDisenosTarjeta = data.detail.response.disenostarjeta;
        console.log(data.detail.response.disenostarjeta);
      },
      _dataDisenosTarjetaERR(data){

      },
      selectAction: function(e, details) {
        console.log('select', details.selected, details.item);
      },
      _selectedOficina: function(selected, previous) {
          if (typeof this.allOficinas!=='undefined'){
              if (this.allOficinas.length>=1){
                    if (typeof this.allOficinas[selected]!=='undefined'){
                        this.$.piOficina.value=this.allOficinas[selected]["CODIGO_OFICINA"];
                    }
              }
          }
      }

    });

  </script>

</dom-module>
