
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="my-consulta">
  <link rel="import" type="css" href="../css/mystyles.css">
  <template>
    <iron-ajax
        auto
        id="getOrdenes"
        url="http://localhost:3000/apitarjetas/v1/ordenes/filters/"
        handle-as="json"
        method="POST"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
    <div class="card">
      <paper-button raised on-tap="_addTodo">Agregar</paper-button>
      <paper-button raised on-click="_removeFirstRow">Remover</paper-button>

      <vaadin-grid  id="myGridTemplate" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <table>
          <colgroup>
            <col hidable>
            <col resizable>
            <col hidden="false">
            <col hidden="false">
          </colgroup>
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Activity</th>
              <th>Other</th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-consulta',
      properties: {
        todo: {
          type: Object,
          value: function() {
            return {};
          }
        },
        activeItem: {
          observer: '_activeItemChanged'
        }
      },

      _activeItemChanged: function(item) {
        //this.$.grid.selectedItems = item ? [item] : [];
        console.log('edwin');
      },
      ready: function() {

      },
      onSelect: function(item) {
        var grid = this.$.myGridTemplate;
        var idx = grid.selection.selected();
        //console.log(grid.items[idx]);
      },
      attached: function() {    //se adjuntan al documento
        var employees = [];
        var names = ["Artur", "Patrik", "Henrik", "Teemu"];
        var surnames = ["Signell","Lehtinen","Ahlroos","Paul"];
        var activities = ["Design","Implement","Polish","Deliver"];
        var targets = ["soup","Vaadin","dog","world peace"];
        for (var i = 0; i < 400; i++){
            var row = [];
            [names, surnames, activities, targets].forEach(function(array){
              row.push(array[Math.floor(Math.random()*array.length)]);
            });
            employees.push(row);
        }
        var grid = this.$.myGridTemplate;
        grid.items = employees;
        /*var currencyRenderer = function(cell) {
              cell.element.innerHTML = '$' + cell.data;
            };
        grid.columns[1].renderer = currencyRenderer;*/

/*
        var grid = grid || document.querySelector("vaadin-grid");
        grid.items = employees;

        grid.addEventListener("selected-items-changed", function() {
          console.log("Selected designers:");
          grid.selection.selected(function(index) {
            var data = employees[index];
            if (data[2] === "Design") {
              console.log("-" + data[0] + " " + data[1]);
            }
          });
        });
        */
      },
      _addTodo: function() {
        var grid = this.$.myGridTemplate;
        //alert(grid.getCell(1, 2));
        //console.log(grid.columns[1]);
        alert(grid.header.getCell(0, 0).content);
        console.log(grid.items[0]);
        //grid.selection.deselect(0);
        //grid.selection.select(8);
      },
      _removeFirstRow: function(e) {
        //this.$.myGridTemplate.shift('items'); //remove first row
        //this.$.myGridTemplate.remove(2); //remove first row
        this.$.myGridTemplate.removeItem(2); //remove first row
      }
    });

  </script>

</dom-module>
