
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-password-input/min-length-validator.html">
<link rel="import" href="../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="my-login">
  <link rel="import" type="css" href="../css/mystylesLogin.css">
  <template>
    <iron-ajax
        id="postLogin"
        url="http://localhost:3000/apitarjetas/v1/usuarios/login"
        handle-as="json"
        method="POST"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
<!-- method="POST"
        content-type="application/json" -->
    <div class="card">
      <div id="unauthenticated">
        <h1>Log In</h1>
        <paper-input id="registro" label="Usuario"></paper-input>
        <!-- <paper-input id="password" always-float-label label="Password"></paper-input>  -->
        <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
        <paper-password-input
            auto-validate
            validator="min-length-validator" always-float-label label="Password" id="password"
            error-message="Ingrese al menos 6 caracteres">
        </paper-password-input>
        <paper-button raised class="primary" on-tap="_Login">Ingresar</paper-button>
          <!-- <paper-button class="link" on-tap="postRegister">Sing up</paper-button> -->
		  </div>
      <div style="align:center;">
        <template is="dom-if" if="{{errorLogin}}">
          <p class="alert-error"><strong>Error en los datos ingresados </strong></p>
        </template>
      </div>
      <div style="align:center;">
        <template is="dom-if" if="{{!errorLogin}}">
          <p class="alert-error"><strong>{{mensaje}}</strong></p>
        </template>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'my-login',
      properties: {
        formData: {
          type: Object,
          value: {}
        },
        todos: {
          type: Array,
          value: function() {
            return [];
          }
        },
        errorLogin: {
          type: Boolean,
          value: false
        },
        mensaje: {
          type: String,
          value:""
        }

      },
      ready() {
        //document.getElementById('my-input').$.input.focus();
        //this.$.usuario.focus();
      },
      _Login: function() {
        var registro = this.$.registro.value;
        var password = this.$.password.value;
        //console.log("entro login");
        this.$.postLogin.body = { "registro": registro, "password": password };
        this.$.postLogin.generateRequest();
      },
      _dataUserOK: function(data) {
        this.errorLogin = false;
        //console.log(JSON.stringify(data.detail.response.usuario));
        //console.log(data.detail.status);
        if(data.detail.status == 200){

          let user = data.detail.response.usuario;
          var usuario = {
            "usuario": user.nombres + ' ' + user.apellidos,
            "foto": user.rutafoto,
            "registro": user.registro,
            "perfil": user.idperfil
          }
          sessionStorage.setItem('user', JSON.stringify(usuario));
          var myAppElement = document.createElement('my-principal');
          document.body.innerHTML = '';
          document.body.appendChild(myAppElement);
        }else{

          //console.log(data.detail.response);
          this.mensaje=data.detail.response.mensaje;
          //console.log("El usuario ya se encuentra logueado");
        }
      },
      _dataUserERR: function(data) {
        //console.log(JSON.stringify(data.detail.response));
        //console.log(data);
        this.errorLogin = true;
      }

    });
  </script>

</dom-module>
