
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-password-input/min-length-validator.html">

<dom-module id="my-login">
  <link rel="import" type="css" href="../css/mystylesLogin.css">
  <template>
    <iron-ajax
        id="putLogin"
        url="http://localhost:3000/colapi/v3/users/login"
        handle-as="json"
        method="PUT"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
<!-- method="POST"
        content-type="application/json" -->
    <div class="card">
      <div id="unauthenticated">
        <h1>Log In</h1>
        <paper-input id="usuario" label="Usuario"></paper-input>
        <!-- <paper-input id="password" always-float-label label="Password"></paper-input>  -->
        <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
        <paper-password-input
            auto-validate
            validator="min-length-validator" always-float-label label="Password" id="password"
            error-message="Ingrese al menos 6 caracteres">
        </paper-password-input>
        <paper-button raised class="primary" on-click="_Login">Ingresar</paper-button>
          <!-- <paper-button class="link" on-tap="postRegister">Sing up</paper-button> -->
		  </div>

    </div>
    <template id="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error: </strong></p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'my-login',
      properties: {
        formData: {
          type: Object,
          value: {}
        },
        todos: {
          type: Array,
          value: function() {
            return [];
          }
        },
        error: {
          type: Boolean,
          value: true
        }
      },
      ready() {
        //document.getElementById('my-input').$.input.focus();
        //this.$.usuario.focus();
      },
      _Login_otro(e) {
        //console.log("Pulsado el botón");
        //console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "user_name" : "TechU-EMG"

              }
            }
          )
        );

      },
      _Login(e) {
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "user_name" : "TechU-EMG"

              }
            }
          )
        );
        var user = this.$.usuario.value;
        var pass = this.$.password.value;
        /*{
            "email": "evanes7@fastcompany.com",
            "password": "0OJBFl"
        }*/
        this.$.putLogin.body = { "email": user, "password": pass };
        this.$.putLogin.generateRequest();
      },
      _dataUserOK: function(data) {
        //console.log(JSON.stringify(data.detail.response));
        //console.log(data.detail.status);
        if(data.detail.status == 200){
          var usuario = {
            "usuario": "Edwin Mendoza Garate",
            "foto": "../images/photos/Edwin_fondo02.jpg",
            "registro": "P027138",
            "perfil": 101
          }
          sessionStorage.setItem('user', JSON.stringify(usuario));

          var myAppElement = document.createElement('my-principal');
          console.log(myAppElement);

          document.body.innerHTML = '';
          document.body.appendChild(myAppElement);
        }else{

        }
      },
      _dataUserERR: function() {
        console.log("error");
      }

    });
  </script>

</dom-module>
