
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">

<dom-module id="my-ordenes">
  <link rel="import" type="css" href="../css/mystylesOrdenes.css">
  <template>
    <iron-ajax
        auto
        id="getPerfiles"
        url="http://localhost:3000/apitarjetas/v1/perfiles/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataPerfilesOK"
        on-error="_dataPerfilesERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getUsuarios"
        url="http://localhost:3000/apitarjetas/v1/usuarios/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
    <div class="card">
      <div class="estilo1">
        <p><strong>Listado de Usuarios</strong></p>
        <vaadin-grid id="myGridUsuario" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <!-- <vaadin-grid items="{{elementos}}">  -->
        <table>
          <colgroup>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col resizable>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col resizable>
            <col resizable>
          </colgroup>
          <thead>
            <tr>
              <th>Registro</th>
              <th>Oficina</th>
              <th>Password</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Direccion</th>
              <th>fchAudi</th>
              <th>hrsAudi</th>
              <th>IdPerfil</th>
              <th>Estado</th>
              <th>fchcreacion</th>
              <th>hrscreacion</th>
              <th>rutafoto</th>
              <th>Perfil</th>
              <th>Oficina</th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
      </div>
      <div class="estilo1">
        <p><strong>Crear/Modificar usuario</strong></p>
        <paper-input id="piRol" label="Rol">{{registro}}</paper-input>
        <paper-input id="piRegistro" label="Registro">{{registro}}</paper-input>
        <paper-dropdown-menu id="pdPerfiles" label="Perfiles">
          <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedPerfil}}">
            <template is="dom-repeat" items="{{allPerfiles}}">
              <paper-item>{{item.descripcion}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-dropdown-menu label="Oficina">
          <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
            <paper-item>0130-Barranco</paper-item>
            <paper-item>0492-San isidro</paper-item>
            <paper-item>0256-San Miguel</paper-item>
            <paper-item>0456-San Borja</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
        <paper-password-input auto-validate
          validator="min-length-validator"
          error-message="Ingresa al menos 6 carateres"></paper-password-input>
        <paper-input id="piNombre" label="Nombre"></paper-input>
        <paper-input id="piDireccion" label="Direccion"></paper-input>
        <paper-button raised class="primary" on-tap="_reiniForm">Nuevo</paper-button>
        <paper-button id="pbCreaMod" raised class="primary" on-tap="_CreaMod">{{tagPBCrea}}</paper-button>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'my-ordenes',
      properties: {
        activeItem: {
          observer: '_activeItemChanged'
        },
        elementos: {
          type: Object
        },
        registro: {
          type: String
        },
        tagPBCrea: {
          type: String,
          value: "Crea"
        },
        allPerfiles: {
           type: Array
        },
        selectedPerfil: {
          type:String,
          observer: "_selectedPerfil",
          notify:true
        }
      },
      _activeItemChanged: function(item) {
        //this.$.grid.selectedItems = item ? [item] : [];
        //console.log('edwin');
      },
      attached: function() {    //se adjuntan al documento
        /*var employees = [];
        var names = ["0130", "0158", "0148", "0287"];
        var surnames = ["P043589","P011535","P032511","P076445"];
        var activities = ["Edwin","Jose","Elias","Lorena"];
        for (var i = 0; i < 30; i++){
            var row = [];
            [names, surnames, activities].forEach(function(array){
              row.push(array[Math.floor(Math.random()*array.length)]);
            });
            employees.push(row);
            console.log(row);
        }
        var grid = this.$.myGridUsuario;
        console.log(employees);
        grid.items = employees;*/
      },
      onSelect: function() {
        var grid = this.$.myGridUsuario;
        var idx = grid.selection.selected();
        if (idx.length == 1){
          var reg = grid.items[idx];
          this.$.piRegistro.value = reg[0];
          this.$.piNombre.value = reg[3] + ' ' + reg[4];
          this.$.piDireccion.value = reg[5];
          this.$.piRol.value = reg[8];
          //this.$.pbCreaMod.label = "Modificar";
          this.tagPBCrea = "Modificar";
        }else{
          this.$.piRegistro.value = "";
          this.tagPBCrea = "Crear";
          //this.$.pbCreaMod.label = "Crear";
        }
      },
      postLogin: function() {

      },
      ready() {
        this.$.getPerfiles.generateRequest();
      },
      _reiniForm() {
        this.$.piRegistro.value = "";
        this.$.piNombre.value = "";
        this.$.piDireccion.value = "";
        this.$.piRol.value = "";
        this.tagPBCrea = "Crear";
      },
      _dataUserOK(data) {
        var usuarios = data.detail.response.usuarios;
        var grid = this.$.myGridUsuario;
        var result = [];
        for(var x=0; x<usuarios.length; x++){
            var registro = [];
            Object.keys(usuarios[x]).forEach(function(key) {
            //result.push('Key : ' + key + ', Value : ' + usuarios[x][key]);
            registro.push(usuarios[x][key]);
            })
          result.push(registro);
        }
        grid.items = result;

/*
        console.log(usuarios.length);
        this.elementos = usuarios;
        console.log(usuarios);*/
        //console.log(this.elementos);
        /*var grid = this.$.myGridUsuario;
        var usuarios = [];
        var usu =  {
          "Rol": "edwin",
          "Usuario": "otro",
          "Nombre": "nooo"
        }
        //var row = [];
        //row.push(usu);
        //console.log(row);

        //usuarios.push(JSON.stringify(usu));
        var result = Object.keys(usu).map(function(key) {
          return [Number(key),usu[key]];
        })
        usuarios.push(usu);
        console.log(usuarios);
        grid.items = usuarios;
        */
      },
      _selectedPerfil: function(selected, previous) {
        //this.fire('xs-select-changed', {selected:selected, previous:previous});
        console.log(this.allPerfiles[selected]);
        this.$.pdPerfiles.selected(2);
      },
      _dataPerfilesOK(data) {
        console.log("entro":data.detail.response.perfiles);
        this.allPerfiles = data.detail.response;
      },
      _CreaMod() {

      }


    });

  </script>

</dom-module>
