
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="my-ordenes">
  <link rel="import" type="css" href="../css/mystyles.css">
  <template>
    <custom-style><style is="custom-style">

            paper-dropdown-menu.custom {
              --paper-input-container-label: {
                color: var(--paper-pink-500);
                font-style: italic;
                text-align: center;
                font-weight: bold;
                font-size:8px;
              };
              --paper-input-container-input: {
                color: var(--paper-indigo-500);
                font-style: normal;
                font-family: serif;
                text-transform: uppercase;
                font-size:8px;
              };

              /* Only show the underline when focused. */
              --paper-input-container-underline: {
                display: none;
              };
              --paper-input-container-underline-focus: {
                border-color: var(--paper-cyan-500);
              };
            }

            paper-dropdown-menu-light.custom {
              --paper-dropdown-menu-label: {
                color: var(--paper-pink-500);
                font-style: italic;
                text-align: center;
                font-weight: bold;
                font-size:8px;
              };
              --paper-dropdown-menu-input: {
                color: var(--paper-indigo-500);
                font-style: normal;
                font-family: serif;
                text-transform: uppercase;
                /* Only show the underline when focused. */
                border-bottom: none;
                  font-size:8px;
              };
              --paper-dropdown-menu-underline-focus: {
                background-color: var(--paper-cyan-500);
              };
            }

    paper-dropdown-menu {
      width: 200px;
      margin-right: 20px;
    }
  </style></custom-style>
    <iron-ajax
        auto
        id="getOficinas"
        url="http://localhost:3000/apitarjetas/v1/oficinas/"
        handle-as="json"
        loading="{{cargando}}"
        method="GET"
        content-type="application/json"
        on-response="_dataOficinasOK"
        on-error="_dataOficinasERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getTiposTarjeta"
        url="http://localhost:3000/apitarjetas/v1/tipos_tarjeta/"
        handle-as="json"
        loading="{{cargando}}"
        method="GET"
        content-type="application/json"
        on-response="_dataTiposTarjetaOK"
        on-error="_dataTiposTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getFormatosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/formatos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataFormatosTarjetaOK"
        on-error="_dataFormatosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getDisenosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/disenos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataDisenosTarjetaOK"
        on-error="_dataDisenosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        id="getOrdenes"
        url="http://localhost:3000/apitarjetas/v1/ordenes/filters/"
        handle-as="json"
        loading="{{cargando}}"
        method="POST"
        content-type="application/json"
        on-response="_dataOrdenesOK"
        on-error="_dataOrdenesERR">
    </iron-ajax>
    <div class="card">
      <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>

      <table>
        <tr>
          <td>
            <paper-dropdown-menu id="pdOficinas" label="Oficinas" horizontal-align="left">
            <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedOficina}}">
              <template is="dom-repeat" items="{{allOficinas}}">
                <paper-item>{{item.DESCRIPCION_OFICINA}}</paper-item>
              </template>
            </paper-listbox>
         </paper-dropdown-menu>
         </td>
          <td>
            <paper-dropdown-menu id="pdTiposTarjeta" label="Tipos tarjeta" horizontal-align="left">
              <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedTiposTarjeta}}">
                <template is="dom-repeat" items="{{allTiposTarjeta}}">
                  <paper-item>{{item.desc_tipo}}</paper-item>
                </template>
              </paper-listbox>
          </paper-dropdown-menu>
          </td>
          <td>
            <paper-dropdown-menu id="pdFormatosTarjeta" label="Formatos Tarjeta" horizontal-align="left">
              <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedFormatosTarjeta}}">
                <template is="dom-repeat" items="{{allFormatosTarjeta}}">
                  <paper-item>{{item.descripcion_formatotarjeta}}</paper-item>
                </template>
              </paper-listbox>
          </paper-dropdown-menu>
          </td>
          <td>
            <paper-dropdown-menu id="pdDisenosTarjeta" label="Diseños Tarjeta" horizontal-align="left">
              <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedDisenosTarjeta}}">
                <template is="dom-repeat" items="{{allDisenosTarjeta}}">
                  <paper-item>{{item.descripcion_disenotarjeta}}</paper-item>
                </template>
              </paper-listbox>
          </paper-dropdown-menu>
          </td>
        </tr>
        <tr>
          <td>
            <paper-dropdown-menu  id="pdSituacion" label="Situacion" horizontal-align="left">
              <paper-listbox id="plSituacion" slot="dropdown-content" class="dropdown-content" selected="{{selectedSituacion}}">
                <paper-item>--Ninguno-</paper-item>
                <paper-item>Descripcion A</paper-item>
                <paper-item>Descripcion O</paper-item>
                <paper-item>Descripcion P</paper-item>
                <paper-item>Descripcion T</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </td>
          <td>
            <vaadin-date-picker label="Desde" placeholder="Selecciona fecha de alta" id="dpFechaInicio" style="width: 200px;">
              </vaadin-date-picker>
          </td>
          <td><vaadin-date-picker label="Hasta" placeholder="Selecciona fecha de alta" id ="dpFechaFin" style="width: 200px;">
            </vaadin-date-picker></td>
          <td><paper-button raised on-tap="_listarFiltros">Buscar</paper-button></td>
        </tr>
      </table>

      <paper-input id="piOficina" label="" style="display: none"></paper-input>
      <paper-input id="piTipoTarjeta" label="" style="display: none"></paper-input>
      <paper-input id="piFormatoTarjeta" label="" style="display: none"></paper-input>
      <paper-input id="piDisenoTarjeta" label="" style="display: none"></paper-input>






      <!-- <paper-button raised on-click="_removeFirstRow">Remover</paper-button> -->
<br>
<br>
<div>{{mensaje}}</div>
      <vaadin-grid  id="myGridOrdenes" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <table>
          <colgroup>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
          </colgroup>
          <thead>
            <tr>
              <th>Nro Orden</th>
              <th>Oficina</th>
              <th>Tipo Tarjeta</th>
              <th>Formato</th>
              <th>Diseno</th>
              <th>Can Ordenadas</th>
              <th>Can Recibidas</th>
              <th>Situacion</th>
              <th>Fecha Alta</th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-ordenes',
      properties: {
        todo: {
          type: Object,
          value: function() {
            return {};
          }
        },
        cargando:
        {
          type: Boolean
        },
        activeItem: {
          observer: '_activeItemChanged'
        },
        allOficinas: {
           type: Array
        },
        selectedOficina: {
          type:Number,
          observer: "_selectedOficina",
          notify:true
        },
        allTiposTarjeta: {
           type: Array
        },
        selectedTiposTarjeta: {
          type:Number,
          observer: "_selectedTiposTarjeta",
          notify:true
        },
        allFormatosTarjeta: {
           type: Array
        },
        selectedFormatosTarjeta: {
          type:Number,
          observer: "_selectedFormatosTarjeta",
          notify:true
        },
        allDisenosTarjeta: {
           type: Array
        },
        selectedDisenosTarjeta: {
          type:Number,
          observer: "_selectedDisenosTarjeta",
          notify:true
        },
        selectedSituacion: {
          type:Number
        }
      },
      _activeItemChanged: function(item) {
      },
      ready: function() {
      },
      onSelect: function(item) {
      },
      attached: function() {    //se adjuntan al documento

      },
      _addTodo: function() {

      },
      _removeFirstRow: function(e) {

      },
      _listarFiltros() {
        var situacion="";
        var fechainicio="";
        var fechafin="";

        if (this.$.dpFechaInicio.value!==""){
            fechainicio=this.$.dpFechaInicio.value;
            fechainicio=fechainicio+"T00:00:00.000Z";
            fechafin=this.$.dpFechaFin.value;
            fechafin=fechafin+"T00:00:00.000Z";
        }
        console.log(fechainicio);
        console.log(fechafin);
        console.log("seleccionando item"+this.selectedSituacion);

        if (this.selectedSituacion=="1"){
          situacion="A";
        }
        if (this.selectedSituacion=="2"){
          situacion="O";
        }
        if (this.selectedSituacion=="3"){
          situacion="P";
        }
        if (this.selectedSituacion=="4"){
          situacion="T";
        }
        var ordenFiltro = {
          "filtro_oficina_solicitante": this.$.piOficina.value,
          "filtro_tipo_tarjeta": this.$.piTipoTarjeta.value,
          "filtro_formato_tarjeta": this.$.piFormatoTarjeta.value,
          "filtro_diseno_tarjeta": this.$.piDisenoTarjeta.value,
          "filtro_estado": situacion,
          "filtro_fecha_inicio":fechainicio,
          "filtro_fecha_fin": fechafin
          // "filtro_fecha_inicio":"2018-12-31T00:00:00.000Z",
          // "filtro_fecha_fin":"2018-12-31T00:00:00.000Z"
        }
          console.log("consultando");
          console.log(ordenFiltro);
          this.$.getOrdenes.body = ordenFiltro;
          this.$.getOrdenes.generateRequest();

      },
      _dataOrdenesOK(data) {
        console.log("recibiendo");
        var result = [];
        var grid = this.$.myGridOrdenes;

        if (typeof data.detail.response.ordenes !='undefined'){
            var ordenes = data.detail.response.ordenes;

            console.log("numero de ordenes"+ordenes.length);
            if (typeof ordenes!='undefined'){
                for(var x=0; x<ordenes.length; x++){
                    var registro = [];
                    registro[0]=ordenes[x]["nro_orden"];
                    registro[1]=ordenes[x]["descripcionoficina"];
                    registro[2]=ordenes[x]["descripciontipotarjeta"];
                    registro[3]=ordenes[x]["descripcionformatotarjeta"];
                    registro[4]=ordenes[x]["descripciondisenotarjeta"];
                    registro[5]=ordenes[x]["can_tarjetasord"];
                    registro[6]=ordenes[x]["can_tarjetasrec"];
                    registro[7]=ordenes[x]["situacion_orden"];
                    registro[8]=ordenes[x]["fecha_alta"];
                    registro[9]=ordenes[x]["leyenda"];
                    registro[10]=ordenes[x]["oficina_solicitante"];
                    registro[11]=ordenes[x]["tipo_tarjeta"];
                    registro[12]=ordenes[x]["formato_tarjeta"];
                    registro[13]=ordenes[x]["diseno_tarjeta"];

                    result.push(registro);
                }
              }
              grid.items = result;
            }
            else{
                grid.items = result;
            }

      },
      _dataOrdenesERR(data,error) {
          console.log("error"+error);
          console.log('Error en la solicitud, con código ' + error.request.status+" "+error.request.mensaje);

          var grid = this.$.myGridOrdenes;
          var result = [];
          grid.items = result;
      },
      _dataOficinasOK(data) {
        this.allOficinas = data.detail.response.oficinas;
        var Seleccione = {  "CODIGO_OFICINA": "",
                            "DESCRIPCION_OFICINA": "",
                            "UBIGEO": ""}
        this.allOficinas.unshift(Seleccione);
        console.log(data.detail.response.oficinas);
      },
      _dataOficinasERR(data){

      },
      _dataTiposTarjetaOK(data) {
        this.allTiposTarjeta = data.detail.response.tipostarjeta;
        var Seleccione = {
            "tipo_tarjeta": "",
            "desc_tipo": ""
        }
        this.allTiposTarjeta.unshift(Seleccione);
        console.log(data.detail.response.tipostarjeta);
      },
      _dataTiposTarjetaERR(data){

      },
      _dataFormatosTarjetaOK(data) {
        this.allFormatosTarjeta = data.detail.response.formatostarjeta;
        var Seleccione =  {
            "id_formatotarjeta": "",
            "descripcion_formatotarjeta": ""

        }
        this.allFormatosTarjeta.unshift(Seleccione);
        console.log(data.detail.response.formatostarjeta);
      },
      _dataFormatosTarjetaERR(data){

      },
      _dataDisenosTarjetaOK(data) {
        this.allDisenosTarjeta = data.detail.response.disenostarjeta;
        var Seleccione = {
            "id_disenotarjeta": "",
            "descripcion_disenotarjeta": ""
        }
        this.allDisenosTarjeta.unshift(Seleccione);
        console.log(data.detail.response.disenostarjeta);
      },
      _dataDisenosTarjetaERR(data){

      },
      selectAction: function(e, details) {
        console.log('select', details.selected, details.item);
      },
      _selectedOficina: function(selected, previous) {
          if (typeof this.allOficinas!=='undefined'){
              if (this.allOficinas.length>=1){
                    if (typeof this.allOficinas[selected]!=='undefined'){
                        this.$.piOficina.value=this.allOficinas[selected]["CODIGO_OFICINA"];
                    }
              }
          }
      },
      _selectedTiposTarjeta: function(selected, previous) {
          if (typeof this.allTiposTarjeta!=='undefined'){
              if (this.allTiposTarjeta.length>=1){
                    if (typeof this.allTiposTarjeta[selected]!=='undefined'){
                        this.$.piTipoTarjeta.value=this.allTiposTarjeta[selected]["tipo_tarjeta"];
                    }
              }
          }
      },
      _selectedFormatosTarjeta: function(selected, previous) {
          if (typeof this.allFormatosTarjeta!=='undefined'){
              if (this.allFormatosTarjeta.length>=1){
                    if (typeof this.allFormatosTarjeta[selected]!=='undefined'){
                        this.$.piFormatoTarjeta.value=this.allFormatosTarjeta[selected]["id_formatotarjeta"];
                    }
              }
          }
      },
      _selectedDisenosTarjeta: function(selected, previous) {
          if (typeof this.allDisenosTarjeta!=='undefined'){
              if (this.allDisenosTarjeta.length>=1){
                    if (typeof this.allDisenosTarjeta[selected]!=='undefined'){
                        this.$.piDisenoTarjeta.value=this.allDisenosTarjeta[selected]["id_disenotarjeta"];
                    }
              }
          }
      }

    });

  </script>

</dom-module>
