
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-principal">
  <link rel="import" type="css" href="../css/mystylesPrincipal.css">
  <template>
    <!-- url="https://polymerelements.github.io/app-layout/templates/publishing/data/articles.json" -->
    <iron-ajax
        id="postLogout"
        url="http://localhost:3000/apitarjetas/v1/usuarios/logout"
        handle-as="json"
        method="POST"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
    <iron-ajax
        id="getPerfilbyId"
        url="http://localhost:3000/apitarjetas/v1/perfiles/{{user_perfil}}"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataPerfilOK"
        on-error="_dataPerfilERR">
    </iron-ajax>

    <iron-ajax
      id="getUserByID"
      url="http://localhost:3000/colapi/v3/users/8"
      handle-as="json"
      on-response="dataUser">
    </iron-ajax>

    <iron-ajax
      id="getMenuPorPerfil"
      method="GET"
      url="http://localhost:3000/apitarjetas/v1/perfiles/menu/{{user_perfil}}"
      handle-as="json"
      on-response="dataMenu">
    </iron-ajax>
    <!--    url="../data/articles.json"  -->
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed>
      <app-drawer effects="waterfall">
        <app-header fixed slot="header">
          <div class="avatar-container" id="edwin1">
            <div class="image" id="edwin2"></div>
          </div>
          <div class="contact-info">
            <div class="name">{{user_name}}</div>
            <div class="registro">{{user_registro}}</div>
            <div class="perfil">{{user_perfil_text}}</div>
          </div>
        </app-header>

        <iron-selector selected="[[page]]" attr-for-selected="opcion" class="drawer-list" role="navigation">
          <!-- <a name="view1" href="/view1">Vista uno</a>
          <a name="view2" href="/view2">Vista dos</a>
          <a name="view3" href="/view3">Vista tres</a>  -->
          <template is="dom-repeat" items="[[articles]]">
            <a name="[[item.componente]]" href="/[[item.componente]]">{{item.etiqueta}}</a>
          </template>
        </iron-selector>
      </app-drawer>

      <!-- Contenido principal -->
      <app-header-layout has-scrolling-region >

        <app-header condenses reveals effects="waterfall" class="app-headerPrincipal">
          <app-toolbar>
            <img src="../images/bbva2.png">
            <div title>Aplicativo de Tarjetas<div class="selectionTitle">{{opcionSeleccionada}}</div></div>
            <paper-button raised class="primary" on-tap="_exit">Salir</paper-button>
          </app-toolbar>
        </app-header>

        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
          <my-usuarios name="usuarios"></my-usuarios>
          <my-stock name="stock"></my-stock>
          <my-ordenes name="ordenes"></my-ordenes>
          <my-confirmar name="confirmar"></my-confirmar>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>

  </template>

  <script>
    Polymer({
      is: 'my-principal',
      properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        articles: Object,
        rol: {
          type: String
        },
        user_name: {
          type: String,
          value: ''
        },
        user_registro: {
          type: String,
          value: ''
        },
        user_perfil: {
          type: String,
          value: ''
        },
        user_perfil_text: {
          type: String,
          value: ""
        },
        opcionSeleccionada: {
          type: String,
          value: ""
        }
      },
      observers: [
        '_routePageChanged(routeData.page)'
      ],
      _routePageChanged: function(page) {
        this.page = page || 'inicio';
      },
      _pageChanged: function(page) {
        this.opcionSeleccionada = page.toUpperCase();
        this.importHref(
          this.resolveUrl('my-' + page + '.html'), null, null, true);
      },
      dataMenu(data){
        this.articles = data.detail.response;
      },
      created: function (){   //se crean los elementos/componentes
        //console.log(this);
        //console.log(this.$);
      },
      ready: function() {   //esta en el local dom, eventos a botones, links, etc
        var user = JSON.parse(sessionStorage.getItem('user'));
        this.updateStyles({'--container-background': 'url(' + user.foto + ')'});
        this.user_name = user.usuario;
        this.user_registro = user.registro;
        this.user_perfil = user.perfil;
        this.$.getPerfilbyId.generateRequest();
        this.$.getMenuPorPerfil.generateRequest();
      },
      attached: function() {    //se adjuntan al documento
        //para trabajar con attached, para trabajar con estilos y agregar listeners, etc
        //console.log('test8: ' + this.$.edwin);
        //console.log(this);
        //console.log(this.$);
        //var elem2 = document.getElementById('edwin2');
        //this.updateStyles({'--container-background': 'url("../images/photos/Edwin_fondo02.jpg")'});
        //var elem2 = this.$.edwin2;
        //console.log(elem2);
      },
      detached: function() {    //kitar los listeners que se pusieron en attached

      },
      attributeChanged: function() {

      },
      _exit: function() {
        var user = JSON.parse(sessionStorage.getItem('user'));
        this.$.postLogout.body = { "registro": user.registro };
        this.$.postLogout.generateRequest();
        sessionStorage.removeItem('user');
        var login = document.createElement('my-login');
        document.body.appendChild(login);
        document.body.removeChild(this);
      },
      dataUser: function(data) {
        //console.log(JSON.stringify(data.detail.response));
        //var rs = data.detail.response[0];
      },
      _dataPerfilOK(data) {
        this.user_perfil_text = data.detail.response.perfiles[0].descripcion.toUpperCase();
      }

    });

  </script>

</dom-module>
