
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="my-stock">
  <link rel="import" type="css" href="../css/mystyles.css">
  <template>
    <paper-spinner alt="Cargando datos..." active="[[cargando]]" style="position: absolute;left: 50%;top: 50%">
    </paper-spinner>
    <iron-ajax
        auto
        id="getOficinas"
        url="http://localhost:3000/apitarjetas/v1/oficinas/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataOficinasOK"
        on-error="_dataOficinasERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getTiposTarjeta"
        url="http://localhost:3000/apitarjetas/v1/tipos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataTiposTarjetaOK"
        on-error="_dataTiposTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getFormatosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/formatos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataFormatosTarjetaOK"
        on-error="_dataFormatosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getDisenosTarjeta"
        url="http://localhost:3000/apitarjetas/v1/disenos_tarjeta/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataDisenosTarjetaOK"
        on-error="_dataDisenosTarjetaERR">
    </iron-ajax>
    <iron-ajax
        id="getStock"
        url="http://localhost:3000/apitarjetas/v1/stock/filters/"
        handle-as="json"
        method="POST"
        loading="{{cargando}}"
        content-type="application/json"
        on-response="_dataStockOK"
        on-error="_dataStockERR">
    </iron-ajax>
    <div class="card">

      <table>
        <tbody>
          <tr>
            <td>
              <paper-dropdown-menu id="pdOficinas" label="Oficinas" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedOficina}}">
                  <template is="dom-repeat" items="{{allOficinas}}">
                    <paper-item>{{item.DESCRIPCION_OFICINA}}</paper-item>
                  </template>
                </paper-listbox>
             </paper-dropdown-menu>
            </td>
            <td>
              <paper-dropdown-menu id="pdTiposTarjeta" label="Tipos tarjeta" horizontal-align="left">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedTiposTarjeta}}">
                    <template is="dom-repeat" items="{{allTiposTarjeta}}">
                      <paper-item>{{item.desc_tipo}}</paper-item>
                    </template>
                  </paper-listbox>
              </paper-dropdown-menu>
            </td>
            <td>
              <paper-dropdown-menu id="pdFormatosTarjeta" label="Formatos Tarjeta" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedFormatosTarjeta}}">
                  <template is="dom-repeat" items="{{allFormatosTarjeta}}">
                    <paper-item>{{item.descripcion_formatotarjeta}}</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
            </td>
            <td>
              <paper-dropdown-menu id="pdDisenosTarjeta" label="Diseños Tarjeta" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedDisenosTarjeta}}">
                  <template is="dom-repeat" items="{{allDisenosTarjeta}}">
                    <paper-item>{{item.descripcion_disenotarjeta}}</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
            </td>
          </tr>

          <tr>
            <td>
              <paper-dropdown-menu  id="pdSituacion" label="Situacion">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedSituacion}}">
                  <paper-item value="N">Ninguno</paper-item>
                  <paper-item value="P">Pendiente</paper-item>
                  <paper-item value="T">Transito</paper-item>
                  <paper-item value="O">Oficina</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </td>
            <td>
              <paper-input id="piStockDesde" label="Stock Desde"></paper-input>
            </td>
            <td>
              <paper-input id="piStockHasta" label="Stock Hasta"></paper-input>
            </td>
          </tr>
      </table>
    </tr>

      <paper-input id="piOficina" label="" style="display: none"></paper-input>
      <paper-input id="piTipoTarjeta" label="" style="display: none"></paper-input>
      <paper-input id="piFormatoTarjeta" label="" style="display: none"></paper-input>
      <paper-input id="piDisenoTarjeta" label="" style="display: none"></paper-input>

      <paper-button raised on-tap="_listarFiltros">Buscar</paper-button>
      <paper-button raised on-tap="_clean">Limpiar</paper-button>
      <!-- <paper-button raised on-click="_removeFirstRow">Remover</paper-button> -->
    <tr>
      <vaadin-grid  id="myGridStock" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <table>
          <colgroup>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
          </colgroup>
          <thead>
            <tr>
              <th>Oficina</th>
              <th>Tipo Tarjeta</th>
              <th>Formato</th>
              <th>Diseno</th>
              <th>Stock Pendiente</th>
              <th>Stock en Tránsito</th>
              <th>Stock en Oficina</th>
              <th>Fecha Actualización</th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-stock',
      properties: {
        todo: {
          type: Object,
          value: function() {
            return {};
          }
        },
        activeItem: {
          observer: '_activeItemChanged'
        },
        allOficinas: {
           type: Array
        },
        selectedOficina: {
          type:Number,
          observer: "_selectedOficina",
          notify:true
        },
        allTiposTarjeta: {
           type: Array
        },
        selectedTiposTarjeta: {
          type:Number,
          observer: "_selectedTiposTarjeta",
          notify:true
        },
        allFormatosTarjeta: {
           type: Array
        },
        selectedFormatosTarjeta: {
          type:Number,
          observer: "_selectedFormatosTarjeta",
          notify:true
        },
        allDisenosTarjeta: {
           type: Array
        },
        selectedDisenosTarjeta: {
          type:Number,
          observer: "_selectedDisenosTarjeta",
          notify:true
        },
        selectedSituacion: {
          type:Number,
          observer: "_selectedSituacion",
        },
        cargando: Boolean,
      },
      _activeItemChanged: function(item) {
      },
      ready: function() {
      },
      onSelect: function(item) {
      },
      attached: function() {    //se adjuntan al documento

      },
      _addTodo: function() {

      },
      _removeFirstRow: function(e) {

      },
      _selectedSituacion() {

        if (this.selectedSituacion=="0"){
          this.$.piStockDesde.value="";
          this.$.piStockHasta.value="";
        }
      },

      _listarFiltros() {
        //console.log("Situacion seleccionada"+ this.selectedSituacion);
        var situacion="";
        if (this.selectedSituacion=="0"){
          situacion=" ";
        }
        if (this.selectedSituacion=="1"){
          situacion="oficina";
        }
        if (this.selectedSituacion=="2"){
          situacion="pendiente";
        }
        if (this.selectedSituacion=="3"){
          situacion="transito";
        }
        var stockFiltro = {
          "filtro_oficina_solicitante": this.$.piOficina.value,
          "filtro_tipo_tarjeta": this.$.piTipoTarjeta.value,
          "filtro_formato_tarjeta": this.$.piFormatoTarjeta.value,
          "filtro_diseno_tarjeta": this.$.piDisenoTarjeta.value,
          "filtro_estado": situacion,
          "filtro_stock_inicio": this.$.piStockDesde.value,
          "filtro_stock_fin": this.$.piStockHasta.value
        }
          //console.log("consultando" + JSON.stringify(stockFiltro));
          this.$.getStock.body = stockFiltro;
          this.$.getStock.generateRequest();

      },
      _dataStockOK(data) {
        //console.log("recibiendo" + data.detail.response.stock);
        var stock = data.detail.response.stock;
        var grid = this.$.myGridStock;
        var result = [];

        //console.log("xxx"+stock.length);

        if (typeof stock!='undefined'){
            for(var x=0; x<stock.length; x++){
                var registro = [];
                registro[0]=stock[x]["descripcionoficina"];
                registro[1]=stock[x]["descripciontipotarjeta"];
                registro[2]=stock[x]["descripcionformatotarjeta"];
                registro[3]=stock[x]["descripciondisenotarjeta"];
                registro[4]=stock[x]["STOCK_PENDIENTE"];
                registro[5]=stock[x]["STOCK_TRANSITO"];
                registro[6]=stock[x]["STOCK_OFICINA"];
                registro[7]=stock[x]["FECHA_ACTUALIZACION"];
                registro[8]=stock[x]["HORA_ACTUALIZACION"];
                registro[9]=stock[x]["CODIGO_OFICINA"];
                registro[10]=stock[x]["TIPO_TARJETA"];
                registro[11]=stock[x]["FORMATO_TARJETA"];
                registro[12]=stock[x]["DISENO_TARJETA"];

                result.push(registro);
            }
      }
        grid.items = result;
        //console.log({"result: ":result});
      },
      _dataStockERR(data,error) {
          console.log("error"+error);
          console.log('Error en la solicitud, con código ' + error.request.status+" "+error.request.mensaje);

          var grid = this.$.myGridStock;
          var result = [];
          grid.items = result;
      },
      _dataOficinasOK(data) {
        this.allOficinas = data.detail.response.oficinas;
        //console.log(data.detail.response.oficinas);
      },
      _dataOficinasERR(data){

      },
      _dataTiposTarjetaOK(data) {
        this.allTiposTarjeta = data.detail.response.tipostarjeta;
        //console.log(data.detail.response.tipostarjeta);
      },
      _dataTiposTarjetaERR(data){

      },
      _dataFormatosTarjetaOK(data) {
        this.allFormatosTarjeta = data.detail.response.formatostarjeta;
        //console.log(data.detail.response.formatostarjeta);
      },
      _dataFormatosTarjetaERR(data){

      },
      _dataDisenosTarjetaOK(data) {
        this.allDisenosTarjeta = data.detail.response.disenostarjeta;
        //console.log(data.detail.response.disenostarjeta);
      },
      _dataDisenosTarjetaERR(data){

      },
      selectAction: function(e, details) {
        console.log('select', details.selected, details.item);
      },
      _selectedOficina: function(selected, previous) {
        console.log("selected: " + selected);
        console.log("previous: " + previous);
          if (typeof this.allOficinas!=='undefined'){
              if (this.allOficinas.length>=1){
                    if (typeof this.allOficinas[selected]!=='undefined'){
                        this.$.piOficina.value=this.allOficinas[selected]["CODIGO_OFICINA"];
                    }
              }
          }
      },
      _selectedTiposTarjeta: function(selected, previous) {
          if (typeof this.allTiposTarjeta!=='undefined'){
              if (this.allTiposTarjeta.length>=1){
                    if (typeof this.allTiposTarjeta[selected]!=='undefined'){
                        this.$.piTipoTarjeta.value=this.allTiposTarjeta[selected]["tipo_tarjeta"];
                    }
              }
          }
      },
      _selectedFormatosTarjeta: function(selected, previous) {
          if (typeof this.allFormatosTarjeta!=='undefined'){
              if (this.allFormatosTarjeta.length>=1){
                    if (typeof this.allFormatosTarjeta[selected]!=='undefined'){
                        this.$.piFormatoTarjeta.value=this.allFormatosTarjeta[selected]["id_formatotarjeta"];
                    }
              }
          }
      },
      _selectedDisenosTarjeta: function(selected, previous) {
          if (typeof this.allDisenosTarjeta!=='undefined'){
              if (this.allDisenosTarjeta.length>=1){
                    if (typeof this.allDisenosTarjeta[selected]!=='undefined'){
                        this.$.piDisenoTarjeta.value=this.allDisenosTarjeta[selected]["id_disenotarjeta"];
                    }
              }
          }
      },
      _clean: function(){
        //this.allOficinas = [];
        this.selectedOficina = -1;
        //this.allTiposTarjeta = [];
        this.selectedTiposTarjeta = -1;
        //this.allFormatosTarjeta = [];
        this.selectedFormatosTarjeta = -1;
        //this.allDisenosTarjeta = [];
        this.selectedDisenosTarjeta = -1;
        this.selectedSituacion = -1;
        this.$.piStockDesde.value = "";
        this.$.piStockHasta.value = "";
        this.$.piOficina ="";
        this.$.piTipoTarjeta ="";
        this.$.piFormatoTarjeta ="";
        this.$.piDisenoTarjeta ="";
      }
    });

  </script>

</dom-module>
