
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<dom-module id="my-usuarios">
  <link rel="import" type="css" href="../css/mystylesOrdenes.css">
  <template>

  <style is = "custom-style">
        paper-checkbox {
           font-family: 'Roboto', sans-serif;
           margin: 24px;
        }
        paper-checkbox.styled {
           align-self: center;
           border: 1px solid var(--paper-green-200);
           padding: 8px 16px;
           paper-checkbox-checked-color: var(--paper-green-500);
           --paper-checkbox-checked-ink-color: var(--paper-green-500);
           --paper-checkbox-unchecked-color: var(--paper-green-900);
           --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
           --paper-checkbox-label-color: var(--paper-green-500);
           --paper-checkbox-label-spacing: 0;
           --paper-checkbox-margin: 8px 16px 8px 0;
           --paper-checkbox-vertical-align: top;
        }
</style>
    <iron-ajax
        auto
        id="getPerfiles"
        url="http://localhost:3000/apitarjetas/v1/perfiles/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataPerfilesOK"
        on-error="_dataPerfilesERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getUsuarios"
        url="http://localhost:3000/apitarjetas/v1/usuarios/"
        handle-as="json"
        loading="{{cargando}}"
        method="GET"
        content-type="application/json"
        on-response="_dataUserOK"
        on-error="_dataUserERR">
    </iron-ajax>
    <iron-ajax
        auto
        id="getOficinas"
        url="http://localhost:3000/apitarjetas/v1/oficinas/"
        handle-as="json"
        method="GET"
        content-type="application/json"
        on-response="_dataOficinasOK"
        on-error="_dataOficinasERR">
    </iron-ajax>
    <iron-ajax
      id="insertUsuario"
      url="http://localhost:3000/apitarjetas/v1/usuarios"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="_insertUserOK"
      on-error="_insertUserERR">
    </iron-ajax>
    <iron-ajax
      id="updateUsuario"
      url="http://localhost:3000/apitarjetas/v1/usuarios"
      handle-as="json"
      loading="{{cargando}}"
      method="PUT"
      content-type="application/json"
      on-response="_updateUserOK"
      on-error="_updateUserERR">
    </iron-ajax>

    <div class="card">
      <div class="estilo1">
        <p><strong>Listado de Usuarios</strong></p>
        <vaadin-grid id="myGridUsuario" on-selected-items-changed="onSelect" active-item="{{activeItem}}">
        <table>
          <colgroup>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col resizable>
            <col resizable>
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col hidden="true">
            <col resizable>
            <col resizable>
            <col resizable>
          </colgroup>
          <thead>
            <tr>
              <th>Registro</th>
              <th>Oficina</th>
              <th>Password</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Direccion</th>
              <th>fchAudi</th>
              <th>hrsAudi</th>
              <th>Perfil</th>
              <th>Perfil</th>
              <th>Perfil</th>
              <th>Perfil</th>
              <th>Perfil</th>
              <th>Perfil</th>
              <th>Oficina</th>
              <th>Estado</th>
            </tr>
          </thead>
        </table>
      </vaadin-grid>

      </div>
      <div class="estilo1">
      <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>
        <p><strong>Crear/Modificar usuario</strong></p>
        <div style="align:center;">
          <template is="dom-if" if="{{hayInsertMensaje}}">
            <p class="alert-error"><strong>{{insertMensaje}}</strong></p>
          </template>
        </div>


        <paper-input id="piPerfil" label="Perfil" style="display: none"></paper-input>
        <paper-input id="piOficina" label="Oficina" style="display: none"></paper-input>

        <table>
          <tr>
            <td colspan=2>  <paper-input id="piRegistro" label="Registro"></paper-input></td>

          </tr>
          <tr>
            <td>  <paper-input id="piNombre" label="Nombres"></paper-input></td>
            <td>  <paper-input id="piApellido" label="Apellidos"></paper-input></td>
          </tr>
          <tr>
            <td>  <paper-dropdown-menu id="pdPerfiles" label="Perfil" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedPerfil}}">
                  <template is="dom-repeat" items="{{allPerfiles}}">
                    <paper-item>{{item.descripcion}}</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu></td>
            <td>  <paper-dropdown-menu id="pdOficinas" label="Oficina" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedOficina}}">
                  <template is="dom-repeat" items="{{allOficinas}}">
                    <paper-item>{{item.DESCRIPCION_OFICINA}}</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu></td>
            </tr>
            <tr>
              <td colspan="2">  <paper-input id="piDireccion" label="Direccion"></paper-input></td>

          </tr>
          <tr>
            <td>  <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
              <paper-password-input auto-validate id="ppiPassword" style="width:50%;"
                validator="min-length-validator"
                error-message="Ingresa al menos 6 carateres" label="Password"></paper-password-input></td>
            <td>  <paper-checkbox on-change="checkboxChanged" id="pcFlagCambioClave" disabled>Cambiar Clave</paper-checkbox></td>
          </tr>
          <tr>
            <td colspan=2>  <paper-dropdown-menu  id="pdEstados" label="Estado" horizontal-align="left">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedEstado}}">
                  <paper-item>Activo</paper-item>
                  <paper-item>Inactivo</paper-item>
                </paper-listbox>
              </paper-dropdown-menu></td>
          </tr>
          <tr>
            <td colspan="2">  <paper-button id="pbCreaMod" raised class="primary" on-tap="_CreaMod" label="{{tagPBCrea}}">{{tagPBCrea}}</paper-button></td>
          </tr>
        </table>



        <!-- <paper-button raised class="primary" on-tap="_reiniForm">Nuevo</paper-button> -->

      </div>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-usuarios',
      properties: {
        activeItem: {
          observer: '_activeItemChanged'
        },
        cargando:
        {
          type: Boolean
        },
        elementos: {
          type: Object
        },
        registro: {
          type: String
        },
        tagPBCrea: {
          type: String,
          value: "Crear"
        },
        allPerfiles: {
           type: Array
        },
        allOficinas: {
           type: Array
        },
        selectedPerfil: {
          type:Number,
          observer: "_selectedPerfil",
          notify:true
        },
        selectedOficina: {
          type:Number,
          observer: "_selectedOficina",
          notify:true
        },
        selectedEstado: {
          type:Number,
          observer: "_selectedEstado",
          notify:true
        },
        hayInsertMensaje: {
          type: Boolean,
          value: false
        },
        insertMensaje: {
          type: String,
          value:""
        },
        flagCambioClave: {
          type: Boolean,
          value:false
        }
      },
      _activeItemChanged: function(item) {

      },
      attached: function() {    //se adjuntan al documento

      },
      onSelect: function() {
        var encuentraperfil=false;
        var encuentraoficina=false;
        var p=0;
        var o=0;
        var grid = this.$.myGridUsuario;
        var idx = grid.selection.selected();
        if (idx.length == 1){
          var reg = grid.items[idx];
          console.log("reg:"+grid.items[idx]);
          this.$.piRegistro.value = reg[0];
          this.$.piOficina.value = reg[1];
          this.$.piNombre.value = reg[3];
          this.$.piApellido.value = reg[4];
          this.$.piDireccion.value = reg[5];
          this.$.piPerfil.value = reg[8];
          this.$.ppiPassword.value = reg[2];
          console.log("reg[9]"+reg[9]);
          if (reg[9]=="1"){
            this.selectedEstado="0";
          }else {
            this.selectedEstado="1";
          }
          if(typeof this.allPerfiles !=='undefined'){
          if (this.allPerfiles.length>=1){
              while(!encuentraperfil && p<this.allPerfiles.length){
                  console.log("noentro:"+this.allPerfiles[p]["descripcion"]);
                    if (this.allPerfiles[p]["descripcion"]==reg[13]){
                      console.log("entro:"+this.allPerfiles[p]["descripcion"]);
                      encuentraperfil=true;
                    }else {
                      p++;
                    }
              }
          }
          }

          if(typeof this.allOficinas !=='undefined'){
          if (this.allOficinas.length>=1){
              while(!encuentraoficina && o<this.allOficinas.length){
                    if (this.allOficinas[o]["DESCRIPCION_OFICINA"]==reg[14]){
                      encuentraoficina=true;
                    }else {
                      o++;
                    }
              }
          }
          }
          this.$.pcFlagCambioClave.disabled=false;
          this.$.pcFlagCambioClave.checked=false;
          this.$.ppiPassword.value.disabled=true;
          this.selectedPerfil=p;
          this.selectedOficina=o;
          this.tagPBCrea = "Modificar";
          this.$.pbCreaMod.label = "Modificar";
        }else{
            this.$.piRegistro.value = "";
            this.$.piOficina.value = "";
            this.$.piNombre.value = "";
            this.$.piApellido.value = "";
            this.$.piDireccion.value = "";
            this.$.piPerfil.value = "";
            this.$.ppiPassword.value = "";
            this.selectedEstado=-1;
            this.selectedPerfil=-1;
            this.selectedOficina=-1;
            this.tagPBCrea = "Crear";
            this.$.pbCreaMod.label = "Crear";
            this.$.pcFlagCambioClave.checked=false;
            this.$.pcFlagCambioClave.disabled=true;
            this.$.ppiPassword.value.disabled=false;
        }
      },
      ready() {
        this.$.getPerfiles.generateRequest();
      },
      _reiniForm() {
        this.$.piRegistro.value = "";
        this.$.piNombre.value = "";
        this.$.piApellido.value = "";
        this.$.piDireccion.value = "";
        this.$.piPerfil.value = "";
        this.$.piOficina.value = "";
        this.tagPBCrea = "Crear";
      },
      _dataUserOK(data) {
        var usuarios = data.detail.response.usuarios;
        var grid = this.$.myGridUsuario;
        var result = [];

        for(var x=0; x<usuarios.length; x++){
            var registro = [];
            registro[0]=usuarios[x]["registro"];
            registro[1]=usuarios[x]["oficina"];
            registro[2]=usuarios[x]["password"];
            registro[3]=usuarios[x]["nombres"];
            registro[4]=usuarios[x]["apellidos"];
            registro[5]=usuarios[x]["direccion"];
            registro[6]=usuarios[x]["fchauditoria"];
            registro[7]=usuarios[x]["hrsauditoria"];
            registro[8]=usuarios[x]["idperfil"];
            registro[9]=usuarios[x]["estado"];
            registro[10]=usuarios[x]["fchcreacion"];
            registro[11]=usuarios[x]["hrscreacion"];
            registro[12]=usuarios[x]["rutafoto"];
            registro[13]=usuarios[x]["descripcionperfil"];
            registro[14]=usuarios[x]["descripcionoficina"];
            if(usuarios[x]["estado"]==1){
              registro[15]="Activo";
            }else{
              registro[15]="Inactivo";
            }
            result.push(registro);
        }
        grid.items = result;
        console.log({"result: ":result});
      },
      _selectedPerfil: function(selected, previous) {
        if(typeof selected!=='undefined'){
          if (typeof this.allPerfiles!=='undefined'){
              if (this.allPerfiles.length>=1){
                    if (typeof this.allPerfiles[selected]!=='undefined'){
                        this.$.piPerfil.value=this.allPerfiles[selected]["idperfil"];
                  }
              }
          }
        }
      },
      _selectedOficina: function(selected, previous) {
        if (typeof this.allOficinas!=='undefined'){
        if (this.allOficinas.length>=1){
            if (typeof this.allOficinas[selected]!=='undefined'){
                this.$.piOficina.value=this.allOficinas[selected]["CODIGO_OFICINA"];
            }
        }
        }
      },
      _selectedEstado: function(selected, previous) {
        //this.selectedEstado=if(selected==0;1;0);
      },
      _dataPerfilesOK(data) {
        this.allPerfiles = data.detail.response.perfiles;
        console.log(data.detail.response.perfiles);
      },
      _dataOficinasOK(data) {
        this.allOficinas = data.detail.response.oficinas;
        console.log(data.detail.response.oficinas);
      },
      _CreaMod() {
        var estado;
        if (this.selectedEstado==0){//primer item activo
            estado=1;
        }else {
            estado=0;
        }

        console.log("this.flagCambioClave "+this.flagCambioClave);
        var usuario = {
           "registro" : this.$.piRegistro.value,
           "oficina" :  this.$.piOficina.value,
           "nombres" :  this.$.piNombre.value,
           "apellidos" : this.$.piApellido.value,
           "direccion" : this.$.piDireccion.value,
           "idperfil" : this.$.piPerfil.value,
           "password" : this.$.ppiPassword.value,
           "flagcambioclave":this.flagCambioClave,
           "estado":  estado,
           "rutafoto": "http://02.01.01.01/fotos/"+this.$.piRegistro.value+".jpg"
        }

        if (  this.tagPBCrea == "Modificar"){
          console.log("modficando");
          this.$.updateUsuario.body = usuario;
          this.$.updateUsuario.generateRequest();
        }
        else{
          console.log("registrando");
          this.$.insertUsuario.body = usuario;
          this.$.insertUsuario.generateRequest();
        }

      },
      _insertUserOK: function(data) {
          this.hayInsertMensaje = true;
          this.insertMensaje=this.insertMensaje + data.detail.response.mensaje;
          console.log("mensaje"+this.insertMensaje);
          console.log(data.detail.status);
          if(data.detail.status == 200){
            this.insertMensaje="Registro exitoso";
          }else{
            this.insertMensaje="Registro fallido";
          }
          this.insertMensaje=this.insertMensaje +data.detail.mensaje;
          this.$.getUsuarios.generateRequest();

          this.$.piRegistro.value = "";
          this.$.piNombre.value = "";
          this.$.piApellido.value = "";
          this.$.piDireccion.value = "";
          this.$.piPerfil.value = "";
          this.$.piOficina.value = "";
          this.$.ppiPassword.value = "";
          this.selectedPerfil=-1;
          this.selectedOficina=-1;
          this.selectedEstado=-1;
          this.$.pcFlagCambioClave.checked=false;
          this.$.ppiPassword.value.disabled=true;
          this.tagPBCrea = "Crear";
          this.$.pbCreaMod.label="Crear";
      },
      _insertUserERR: function(e,error,response) {
        this.hayInsertMensaje = true;
        console.log("mensaje"+response.mensaje);
        console.log(error.request.status);
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
        this.$.piRegistro.value = "";
        this.$.piNombre.value = "";
        this.$.piApellido.value = "";
        this.$.piDireccion.value = "";
        this.$.piPerfil.value = "";
        this.$.piOficina.value = "";
        this.$.ppiPassword.value = "";
        this.selectedPerfil=-1;
        this.selectedOficina=-1;
        this.selectedEstado=-1;
        this.$.pcFlagCambioClave.checked=false;
        this.$.ppiPassword.value.disabled=true;
        this.tagPBCrea = "Crear";
      },
      _updateUserOK: function(data) {
          this.hayInsertMensaje = true;
          this.insertMensaje=this.insertMensaje + data.detail.response.mensaje;
          console.log("mensaje"+this.insertMensaje);
          console.log(data.detail.status);
          if(data.detail.status == 200){
            this.insertMensaje="Actualizacion exitosa";
          }else{
            this.insertMensaje="Actualizacion fallida";
          }
          this.insertMensaje=this.insertMensaje +data.detail.mensaje;
          this.$.getUsuarios.generateRequest();

          this.$.piRegistro.value = "";
          this.$.piNombre.value = "";
          this.$.piApellido.value = "";
          this.$.piDireccion.value = "";
          this.$.piPerfil.value = "";
          this.$.piOficina.value = "";
          this.$.ppiPassword.value = "";
          this.selectedPerfil=-1;
          this.selectedOficina=-1;
          this.selectedEstado=-1;
          this.$.pcFlagCambioClave.checked=false;
          this.$.ppiPassword.value.disabled=true;
          this.tagPBCrea = "Crear";
      },
      _updateUserERR: function(e,error) {
        this.hayInsertMensaje = true;
        console.log("mensaje"+e.mensaje);
        console.log(error.request.status);
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
        this.$.piPerfil.style.visibility = "hidden";
        this.$.piOficina.style.visibility = "hidden";
        this.$.piRegistro.value = "";
        this.$.piNombre.value = "";
        this.$.piApellido.value = "";
        this.$.piDireccion.value = "";
        this.$.piPerfil.value = "";
        this.$.piOficina.value = "";
        this.$.ppiPassword.value = "";
        this.$.pcFlagCambioClave.checked=false;
        this.$.ppiPassword.value.disabled=true;
        this.selectedPerfil=-1;
        this.selectedOficina=-1;
        this.selectedEstado=-1;
        this.tagPBCrea = "Crear";
      },
      checkboxChanged:function(e){
        console.log("entro aqui checkboxChanged");
        if (this.$.pcFlagCambioClave.checked==true){
            console.log("entro IF checkboxChanged");
            this.$.ppiPassword.disabled=false;
            this.flagcambioclave=true;
            console.log("this.flagcambioclave checkboxChanged"+this.flagcambioclave)
        }else {
          console.log("NO entro AL checkboxChanged");
          this.$.ppiPassword.disabled=true;
          this.flagcambioclave=false;
        }
      }
  });
  </script>

</dom-module>
